@import "./scss/auxi/fonts.scss";
@import "./scss/auxi/normalize.scss";
@import "./scss/auxi/variables.scss";
@import "./scss/auxi/mixins.scss";

@import "./scss/auxi/media.scss";

@import "./scss/components.scss";

@import "./scss/components/header.scss";
@import "./scss/components/nav.scss";
@import "./scss/components/banner.scss";
@import "./scss/components/hero.scss";
@import "./scss/components/services.scss";
@import "./scss/components/about.scss";
@import './scss/components/doctors.scss';

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

html {
  font-size: 10px;

  font-family: "Gilroy", sans-serif;

  font-weight: 400;
}
