@import "./scss/auxi/fonts.scss";
@import "./scss/auxi/normalize.scss";
@import "./scss/auxi/variables.scss";
@import "./scss/auxi/mixins.scss";

@import "./scss/auxi/media.scss";

@import "./scss/small-components/components.scss";
@import "./scss/small-components/form-components.scss";

@import "./scss/components/header.scss";
@import "./scss/components/nav.scss";
@import "./scss/components/banner.scss";
@import "./scss/components/hero.scss";
@import "./scss/components/services.scss";
@import "./scss/components/about.scss";
@import "./scss/components/doctors.scss";
@import "./scss/components/review.scss";
@import "./scss/components/qa.scss";
@import "./scss/components/feedback.scss";
@import "./scss/components/map.scss";
@import "./scss/components/footer.scss";

@import "./scss/components/vaccine.scss";
@import "./scss/components/pricing.scss";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

html {
  font-size: 10px;

  font-family: "Gilroy", sans-serif;

  font-weight: 400;

  overflow-x: hidden;
}



main {
  max-width: 100%;
 
}