.form {
  &__input {
    @include comfortaa;
    width: 100%;
    max-width: 66rem;

    font-size: 2.4rem;
    font-weight: 600;

    position: relative;

    span {
      position: absolute;
      background-color: white;

      border-radius: $border-small;

      left: 5%;
      top: -15%;
    }

    &-field {
      width: 100%;
      padding: 2.8rem;

      border-radius: $border-small;
      border: none;
    }
  }
}

.checkbox {
  position: relative;
  cursor: pointer;
  &__mark::after {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;

    content: "";

    border: 1px solid $blue;

    @include flexCenter;

    font-size: 1.4rem;
    font-weight: 700;

    left: -10%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__field {
    display: none;
  }

  &__field:checked ~ &__mark::after {
    content: "✓";
  }

  &__label {
    font-size: 1.4rem;
    font-weight: 600;
    user-select: none;
  }
}
