.header {
  &__wrapper {
    width: 100vw;
    padding: 2.5rem 0;
    background-color: $orange-light;

    @include flexCenter;

  
  }

  &__inner {
    @include wrapper;
    @include flexCenter;


    gap: 2rem;

    @include ltDesktop {
      flex-direction: column;
      gap: 2rem;

      h2 {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }

  &__right {
    @include flexCenter;
    gap: 8.3rem;



    @include ltDesktop {
      gap: 3rem;
      flex-wrap: wrap
    }
  }

  &__text {
    &-small {
    }

    &-black {
    }
  }

  &__icon {
    @include flexCenter;
    gap: 0.8rem;

    &-left {
      width: 5rem;
      height: 5rem;
      background-color: white;

      border-radius: 50%;

      @include flexCenter;
      img {
        width: 1.725rem;
        height: 1.725rem;
        object-fit: cover;
      }
    }

    &-right {
      p {
        font-size: 1.2rem;
        font-weight: 300;
      }

      span {
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
  }
}
