@mixin wrapper {
  max-width: 150rem;
  width: 100%;
  margin: 0 auto;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin comfortaa {
  font-family: "Comfortaa", "sans-serif";
}



@mixin section {
  @include wrapper;
  display: flex;
  flex-direction: column;
  gap: 8.2rem;

  @include ltDesktop {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
