$orange: #ffa652;
$orange-bright: #fb8e26;
$orange-light: #ffd35f;
$orange-medium: #ffbb06;
$blue: #4994f9;
$shadow-big: 0px 4px 21px rgba(0, 0, 0, 0.25);
$shadow-small: 0px 4px 4px rgba(0, 0, 0, 0.1);
