$orange: #ffa652;
$orange-bright: #fb8e26;
$orange-light: #ffd35f;
$orange-medium: #ffbb06;
$blue: #4994f9;

$gray: #9F9F9F;

$shadow-big: 0px 4px 21px rgba(0, 0, 0, 0.25);
$shadow-small: 0px 4px 4px rgba(0, 0, 0, 0.1);

$section-padding: 8.2rem 0 12.3rem 0;
$border-small: 3rem;
$border-big: 10rem;
